# This playbook automates building of ISO images to be used to deploy Grid platforms
---
- name: Automate building ISO image for deploying grid platforms
  hosts: imagebuilder
  gather_facts: yes

  tasks:
  - name: Load secrets from ansible vault
    ansible.builtin.include_vars:
      file: "./vars/secrets.yml"
  - name: Create image installer
    ansible.builtin.import_role:
      name: rprakashg.vpac.create_image_installer
  - name: Create iso with custom kickstart
    ansible.builtin.import_role:
      name: rprakashg.vpac.create_iso
    #uncomment lines below when you need to 
    # re-run to create a new iso with custom kickstart
    #vars:
    #  compose_job_id: 6c23d032-ccfd-4db5-a63d-7f4c58201ddf